@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif; /* CSS Web Safe Combination -> Vai tentando as fontes em ordem caso o navegador não reconheça a fonte*/
    /*
    Recomendação do W3C (The World Wide Web Consortium (W3C) develops standards and guidelines to help everyone build a web)
    Medidas absolutas 
    px
    Medidas relativas
    em

    Geralmente, 1em = 16px (tamanho padrão)
    Você trabalha com % do tamanho padrão -> útil para trabalhar com diferentes telas 
    */
    font-size: 1em;

    /*ATALHO: SHORTHAND
    font: (font-style) (font-weight) (font-size) (font-family)*/
}

h1, h2{
    font-family: 'Times New Roman', Times, serif;
}